/*done by Coderiver.com.ua */
@font-face { font-family: "HeliosCondRegular"; src: url("../fonts/helioscond.eot"); src: url("../fonts/helioscond.eot") format("embedded-opentype"), url("../fonts/helioscond.woff") format("woff"), url("../fonts/helioscond.ttf") format("truetype"); }

@font-face { font-family: "HeliosCondBold"; src: url("../fonts/he_cn-webfont.eot"); src: url("../fonts/he_cn-webfont.eot") format("embedded-opentype"), url("../fonts/he_cn-webfont.woff") format("woff"), url("../fonts/he_cn-webfont.ttf") format("truetype"); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 17px; font-family: "HeliosCondRegular", Arial, sans-serif; line-height: 1.2; }

.container { width: 960px; margin: 0 auto; }

.grey { background: url(../img/dark-pattern.png); }

.btn { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; text-align: center; text-decoration: none; color: #414042; background: #ffe41f; border-bottom: 1px solid #a8aeb6; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffdd03), color-stop(100%, #fff66e)); background-image: -webkit-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: -moz-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: -o-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); }
.btn:hover { background: #ffee12; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffed11), color-stop(100%, #ffed11)); background-image: -webkit-linear-gradient(bottom, #ffed11 0%, #ffed11 100%); background-image: -moz-linear-gradient(bottom, #ffed11 0%, #ffed11 100%); background-image: -o-linear-gradient(bottom, #ffed11 0%, #ffed11 100%); background-image: linear-gradient(bottom, #ffed11 0%, #ffed11 100%); }

.input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 44px; padding: 0 13px; border-bottom: 1px solid #a8aeb6; font-family: "HeliosCondRegular", Arial, sans-serif; font-size: 17px; }
.input:-moz-placeholder, .input::-moz-placeholder { color: darkgrey; opacity: 1; }
.input::-webkit-input-placeholder { color: darkgrey; }

.input_name { width: 438px; }

.input_phone { width: 208px; }

.h2 { font-family: "HeliosCondBold"; font-weight: normal; font-style: normal; font-size: 34px; color: #414042; }

.header__inner { position: relative; *zoom: 1; height: 96px; border-bottom: 1px solid #d4d4d4; }
.header__inner:after { content: " "; display: table; clear: both; }
.header__inner:before { content: ""; position: absolute; bottom: -1px; left: 0; right: 0; height: 1px; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(10%, #d4d4d4), color-stop(90%, #d4d4d4), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(left, #ffffff 0%, #d4d4d4 10%, #d4d4d4 90%, #ffffff 100%); background-image: -moz-linear-gradient(left, #ffffff 0%, #d4d4d4 10%, #d4d4d4 90%, #ffffff 100%); background-image: -o-linear-gradient(left, #ffffff 0%, #d4d4d4 10%, #d4d4d4 90%, #ffffff 100%); background-image: linear-gradient(left, #ffffff 0%, #d4d4d4 10%, #d4d4d4 90%, #ffffff 100%); }

.logo { float: left; height: 96px; line-height: 96px; margin-right: 23px; }
.logo a { display: inline-block; vertical-align: middle; background: url('../img/icons-sa931a11a4a.png') 0 -39px no-repeat; width: 192px; height: 52px; }

.header__turbo3g { float: left; margin-top: 39px; background: url('../img/icons-sa931a11a4a.png') 0 -1238px no-repeat; width: 134px; height: 26px; }

.header__language { float: right; *zoom: 1; margin-top: 16px; margin-left: 23px; height: 65px; padding-left: 13px; border-left: 1px solid #ffde00; }
.header__language:after { content: " "; display: table; clear: both; }
.header__language li { float: left; padding-top: 18px; }
.header__language li a { display: block; height: 27px; width: 40px; line-height: 27px; margin-left: 3px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; text-align: center; text-decoration: none; color: #414042; }
.header__language li a:hover, .header__language li a.is-active { background: #ffe41f; border-bottom: 1px solid #a8aeb6; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffdd03), color-stop(100%, #fff66e)); background-image: -webkit-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: -moz-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: -o-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); }

.header__phone { float: right; text-align: right; padding-top: 35px; }
.header__phone p { font-family: "HeliosCondBold"; font-weight: normal; font-style: normal; font-size: 22px; color: #414042; }
.header__phone span { font-size: 11px; color: darkgrey; text-transform: uppercase; }

.trial { padding-top: 28px; }

.trial__form { font-size: 0; }
.trial__form input { margin-right: 12px; }
.trial__form button { display: inline-block; vertical-align: top; height: 45px; width: 290px; font-size: 17px; font-family: "HeliosCondRegular", Arial, sans-serif; }

.trial__text { padding: 10px 0; *zoom: 1; font-size: 11px; }
.trial__text:after { content: " "; display: table; clear: both; }

.trial__left { float: left; }

.trial__right { float: right; }

.slider { position: relative; padding: 50px 0; background: url(../img/slider-bg.png); }

.cycle-pager { text-align: center; }
.cycle-pager span { display: inline-block; vertical-align: middle; width: 7px; height: 7px; margin: 0 7px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #0c4da2; font-size: 0; cursor: pointer; }
.cycle-pager span.cycle-pager-active { width: 12px; height: 12px; background: #ffde00; }

.slider__controls { position: relative; }

.cycle-prev { position: absolute; left: -54px; top: 200px; background: url('../img/icons-sa931a11a4a.png') 0 -1604px no-repeat; width: 29px; height: 56px; cursor: pointer; }

.cycle-next { position: absolute; right: -54px; top: 200px; background: url('../img/icons-sa931a11a4a.png') 0 -1538px no-repeat; width: 30px; height: 56px; cursor: pointer; }

.slider__item { width: 960px; }
.slider__item img { width: 100%; height: 100%; }

.tab-wrap { margin-bottom: 30px; }

.media-wrap { padding-top: 40px; }

.tab { *zoom: 1; margin: 15px 0; }
.tab:after { content: " "; display: table; clear: both; }

.tab__item { float: left; }
.tab__item:first-child .tab__link { margin-left: 0; }

.tab__link { position: relative; display: block; height: 44px; padding: 0 13px; min-width: 157px; line-height: 44px; margin-left: 8px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; border-bottom: 1px solid #a2a8b1; background: #fbfbfb; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #ebebeb 100%); background-image: -moz-linear-gradient(bottom, #ffffff 0%, #ebebeb 100%); background-image: -o-linear-gradient(bottom, #ffffff 0%, #ebebeb 100%); background-image: linear-gradient(bottom, #ffffff 0%, #ebebeb 100%); text-align: center; text-decoration: none; color: #414042; }
.tab__link:hover { background: #e7e7e7; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e7e7e7), color-stop(100%, #e7e7e7)); background-image: -webkit-linear-gradient(bottom, #e7e7e7 0%, #e7e7e7 100%); background-image: -moz-linear-gradient(bottom, #e7e7e7 0%, #e7e7e7 100%); background-image: -o-linear-gradient(bottom, #e7e7e7 0%, #e7e7e7 100%); background-image: linear-gradient(bottom, #e7e7e7 0%, #e7e7e7 100%); }
.tab__link.is-active { background: #165ab2; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0b4da1), color-stop(99.24%, #256ecd), color-stop(100%, #256ecd)); background-image: -webkit-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -moz-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -o-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); color: white; }
.tab__link.is-active:before { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -6px; width: 0px; height: 0px; border-style: solid; border-width: 8px 6px 0 6px; border-color: #0b4da1 transparent transparent transparent; }

.tab-cont { background: #f4f4f4; padding: 18px; }

.media__topper { *zoom: 1; padding: 13px; background: white; margin-bottom: 20px; }
.media__topper:after { content: " "; display: table; clear: both; }
.media__topper .h2 { position: relative; float: left; padding-left: 56px; }
.media__topper .h2.h2_web:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-sa931a11a4a.png') 0 -899px no-repeat; width: 44px; height: 44px; }
.media__topper .h2.h2_email:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-sa931a11a4a.png') 0 -1185px no-repeat; width: 44px; height: 43px; }
.media__topper .h2.h2_music:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-sa931a11a4a.png') 0 -1488px no-repeat; width: 36px; height: 40px; }
.media__topper .h2.h2_video:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-sa931a11a4a.png') 0 -1274px no-repeat; width: 39px; height: 43px; }

.media__testbtn { position: relative; float: right; height: 44px; line-height: 44px; padding: 0 58px 0 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #fde109; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0b4da1), color-stop(99.24%, #256ecd), color-stop(100%, #256ecd)); background-image: -webkit-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -moz-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -o-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); text-decoration: none; color: white; font-size: 17px; }
.media__testbtn:before { content: ""; position: absolute; top: 10px; right: 20px; background: url('../img/icons-sa931a11a4a.png') 0 -1670px no-repeat; width: 18px; height: 21px; }
.media__testbtn:hover { background: #0b4da1; }

.test { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.test:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.test li { width: 216px; padding: 10px 12px 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: white; }

.test__top { position: relative; margin-bottom: 12px; }
.test__top p { font-size: 11px; }

.test__title { color: #0c4da2; font-size: 17px; font-family: "HeliosCondBold"; font-weight: normal; font-style: normal; }

.test__info { position: absolute; top: 2px; right: 0px; background: url('../img/icons-sa931a11a4a.png') 0 -1701px no-repeat; width: 8px; height: 17px; cursor: pointer; }
.test__info:hover { background: url('../img/icons-sa931a11a4a.png') 0 -1728px no-repeat; width: 8px; height: 17px; }

.test__btn { position: relative; display: block; height: 134px; width: 100%; margin-bottom: 7px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #f3f3f3; -webkit-box-shadow: 0 1px 0 #cbcbcb, inset 0 1px 0 white; -moz-box-shadow: 0 1px 0 #cbcbcb, inset 0 1px 0 white; box-shadow: 0 1px 0 #cbcbcb, inset 0 1px 0 white; }
.test__btn:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -24px 0 0 -22px; background: url('../img/icons-sa931a11a4a.png') 0 -841px no-repeat; width: 45px; height: 48px; }
.test__btn:active { top: 1px; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; }

.test__progress { position: relative; height: 4px; margin-bottom: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #f3f3f3; }

.test__progressbar { position: absolute; top: 0; left: 0; bottom: 0; max-width: 100%; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #ffe116; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffdd03), color-stop(100%, #fff66e)); background-image: -webkit-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: -moz-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: -o-linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); background-image: linear-gradient(bottom, #ffdd03 0%, #fff66e 100%); }

.test__time { position: relative; font-size: 34px; color: #414042; padding-left: 44px; }
.test__time:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-sa931a11a4a.png') 0 -1327px no-repeat; width: 29px; height: 29px; }

.share { text-align: center; margin-bottom: 45px; }

.benefits { padding: 36px 0 53px; }
.benefits .h2 span { font-size: 40px; }

.coverage { padding-top: 25px; }

.coverage__topper { *zoom: 1; margin-bottom: 17px; }
.coverage__topper:after { content: " "; display: table; clear: both; }

.coverage__types { float: left; padding: 10px; border: 1px solid #413f41; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; font-size: 0; }
.coverage__types > div { margin-left: 25px; }
.coverage__types > div:first-child { margin-left: 0; }

.revB, .revA { position: relative; display: inline-block; font-size: 17px; }
.revB span, .revA span { display: inline-block; vertical-align: middle; }

.revB__color, .revA__color { display: inline-block; vertical-align: middle; width: 25px; height: 25px; margin-right: 8px; background: #92ef25; }

.revA__color { background: #ffea00; }

.coverage__search { float: right; }
.coverage__search input[type="text"] { width: 310px; margin-right: 10px; }
.coverage__search button { display: inline-block; height: 45px; padding: 0 27px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #1558b0; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0b4da1), color-stop(99.24%, #256ecd), color-stop(100%, #256ecd)); background-image: -webkit-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -moz-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -o-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); color: white; font-family: "HeliosCondRegular", Arial, sans-serif; font-size: 17px; }

.coverage__map { height: 380px; margin-bottom: 10px; }

.coverage__notice { position: relative; font-size: 11px; color: #b4b4b4; margin-bottom: 33px; padding-bottom: 25px; border-bottom: 1px solid #d4d4d4; }
.coverage__notice:before { content: ""; position: absolute; bottom: -1px; left: 0; right: 0; height: 1px; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(10%, #d4d4d4), color-stop(90%, #d4d4d4), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(left, #ffffff 0%, #d4d4d4 10%, #d4d4d4 90%, #ffffff 100%); background-image: -moz-linear-gradient(left, #ffffff 0%, #d4d4d4 10%, #d4d4d4 90%, #ffffff 100%); background-image: -o-linear-gradient(left, #ffffff 0%, #d4d4d4 10%, #d4d4d4 90%, #ffffff 100%); background-image: linear-gradient(left, #ffffff 0%, #d4d4d4 10%, #d4d4d4 90%, #ffffff 100%); }

.h2_turbo3g i { display: inline-block; vertical-align: middle; background: url('../img/icons-sa931a11a4a.png') 0 0 no-repeat; width: 151px; height: 29px; }

.benefits__list { padding: 40px 0 90px; text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.benefits__list:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.benefits__list li { position: relative; height: 54px; display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }
.benefits__list li:hover .benefits__hint { display: block; }

.benefits__icon { cursor: pointer; }

.b1 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -665px no-repeat; width: 69px; height: 47px; }
.b1:hover { background: url('../img/icons-sa931a11a4a.png') 0 -722px no-repeat; width: 69px; height: 47px; }

.b2 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -421px no-repeat; width: 54px; height: 50px; }
.b2:hover { background: url('../img/icons-sa931a11a4a.png') 0 -481px no-repeat; width: 54px; height: 50px; }

.b3 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -1009px no-repeat; width: 52px; height: 46px; }
.b3:hover { background: url('../img/icons-sa931a11a4a.png') 0 -953px no-repeat; width: 52px; height: 46px; }

.b4 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -1125px no-repeat; width: 46px; height: 50px; }
.b4:hover { background: url('../img/icons-sa931a11a4a.png') 0 -1065px no-repeat; width: 46px; height: 50px; }

.b5 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -101px no-repeat; width: 45px; height: 55px; }
.b5:hover { background: url('../img/icons-sa931a11a4a.png') 0 -166px no-repeat; width: 45px; height: 55px; }

.b6 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -541px no-repeat; width: 59px; height: 52px; }
.b6:hover { background: url('../img/icons-sa931a11a4a.png') 0 -603px no-repeat; width: 59px; height: 52px; }

.b7 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -1366px no-repeat; width: 29px; height: 51px; }
.b7:hover { background: url('../img/icons-sa931a11a4a.png') 0 -1427px no-repeat; width: 29px; height: 51px; }

.b8 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -359px no-repeat; width: 64px; height: 52px; }
.b8:hover { background: url('../img/icons-sa931a11a4a.png') 0 -779px no-repeat; width: 64px; height: 52px; }

.b9 { display: inline-block; background: url('../img/icons-sa931a11a4a.png') 0 -231px no-repeat; width: 61px; height: 54px; }
.b9:hover { background: url('../img/icons-sa931a11a4a.png') 0 -295px no-repeat; width: 61px; height: 54px; }

.benefits__hint { display: none; position: absolute; top: 74px; left: 0; width: 250px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 18px 22px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #0c58b2; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0b4da1), color-stop(99.24%, #0d69c9), color-stop(100%, #0d69c9)); background-image: -webkit-linear-gradient(bottom, #0b4da1 0%, #0d69c9 99.24%, #0d69c9 100%); background-image: -moz-linear-gradient(bottom, #0b4da1 0%, #0d69c9 99.24%, #0d69c9 100%); background-image: -o-linear-gradient(bottom, #0b4da1 0%, #0d69c9 99.24%, #0d69c9 100%); background-image: linear-gradient(bottom, #0b4da1 0%, #0d69c9 99.24%, #0d69c9 100%); color: #fefefe; font-size: 17px; text-align: left; }
.benefits__hint:before { content: ""; position: absolute; top: -10px; left: 30px; width: 0px; height: 0px; border-style: solid; border-width: 0 9px 10px 9px; border-color: transparent transparent #0d69c9 transparent; }

.devices { padding: 40px 0; }
.devices .h2 { display: inline-block; vertical-align: top; margin-right: 23px; }

.h2__hint { position: relative; display: inline-block; vertical-align: top; height: 42px; line-height: 42px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding: 0 14px; border: 1px solid #414042; font-size: 17px; }
.h2__hint:before { content: ""; position: absolute; top: 13px; left: -12px; width: 0px; height: 0px; border-style: solid; border-width: 8.5px 12px 8.5px 0; border-color: transparent #414042 transparent transparent; }
.h2__hint:after { content: ""; position: absolute; top: 14px; left: -10px; width: 0px; height: 0px; border-style: solid; border-width: 7.5px 10px 7.5px 0; border-color: transparent white transparent transparent; }

.devices-wrap { *zoom: 1; padding-top: 38px; }
.devices-wrap:after { content: " "; display: table; clear: both; }

.devices__tab { float: left; width: 102px; }

.devices__item { height: 102px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #f4f4f4; margin-bottom: 1px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.bottomarea { padding-bottom: 40px; }

.order { padding: 30px 0; overflow: hidden; }
.order .order__title { font-weight: bold; font-size: 34px; margin-bottom: 18px; color: #414042; }
.order .order__table { width: 100%; border-spacing: 0; border-collapse: collapse; margin-bottom: 26px; }
.order .order__table thead th { border-bottom: 1px solid #c1c1c1; padding-bottom: 13px; text-align: left; font-family: "HeliosCondBold"; font-weight: normal; font-style: normal; }
.order .order__table thead th i { background: url('../img/icons-sa931a11a4a.png') 0 -1813px no-repeat; width: 13px; height: 13px; font-size: 17px; color: #414042; display: inline-block; margin-right: 6px; }
.order .order__table tbody tr:nth-child(2n+1) th, .order .order__table tbody tr:nth-child(2n+1) td { background: rgba(0, 0, 0, 0.03); }
.order .order__table tbody th { text-align: left; font-weight: normal; font-size: 22px; color: #414042; padding: 12px 0 12px 18px; width: 475px; }
.order .order__table tbody td { font-size: 22px; font-family: "HeliosCondBold"; font-weight: normal; font-style: normal; }
.order .order__left { float: left; width: 40%; }
.order .order__right { float: right; width: 40%; text-align: right; }
.order .order__right .btn { padding: 0 15px; height: 45px; font-size: 17px; display: inline-block; }
.order .order__right span { display: block; text-align: right; font-size: 11px; padding-top: 5px; }

.bluebtn { display: inline-block; padding: 0 15px; font-size: 17px; color: white; text-decoration: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #fde109; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0b4da1), color-stop(99.24%, #256ecd), color-stop(100%, #256ecd)); background-image: -webkit-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -moz-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -o-linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: linear-gradient(bottom, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); height: 45px; line-height: 45px; }
.bluebtn:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b4da1), color-stop(99.24%, #256ecd), color-stop(100%, #256ecd)); background-image: -webkit-linear-gradient(top, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -moz-linear-gradient(top, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: -o-linear-gradient(top, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); background-image: linear-gradient(top, #0b4da1 0%, #256ecd 99.24%, #256ecd 100%); }

.wheretobuy { padding: 30px 0; font-size: 22px; color: #414042; }
.wheretobuy .wheretobuy__title { font-size: 34px; color: #414042; font-weight: bold; margin-bottom: 5px; }
.wheretobuy ul { list-style: none; font-size: 17px; color: #414042; margin: 25px 0; }
.wheretobuy ul li { position: relative; margin-bottom: 24px; padding-left: 25px; }
.wheretobuy ul li:before { position: absolute; left: 0; top: -2px; background: url('../img/icons-sa931a11a4a.png') 0 -1755px no-repeat; width: 17px; height: 18px; content: " "; }
